@font-face {
  font-family: "JetBrainsMonoNerdFont";
  src: url('/fonts/JetBrainsMonoNerdFont-Medium.ttf') format('truetype');
}

* {
  font-family: 'JetBrainsMonoNerdFont', monospace;
}

.slidev-layout p {
  margin: 0 !important;
}

.feature-box {
  padding: 1.5rem;
  background: var(--slidev-code-background);
  /* border: 1px solid color-mix(in srgb, var(--slidev-theme-primary) 50%, transparent); */
  border: 1px solid var(--slidev-theme-primary);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.15rem 0.4rem 5px 2px rgba(0, 0, 0, 0.5);
}

.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}

.timeline-window {
  position: relative;
  overflow: hidden;
}

/* The vertical line */
.timeline::before {
  content: '';
  position: absolute;
  width: 4px;
  background-color: var(--slidev-theme-primary);
  top: 0;
  bottom: 0;
  left: 1rem;
  transform: translateX(-50%);
}

.timeline-node {
  padding: 1rem 2.5rem;
  position: relative;
}

/* The node point on the line */
.timeline-node::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 1rem;
  background-color: white;
  border: 4px solid var(--slidev-theme-primary);
  top: 1.5rem;
  border-radius: 8px;
  transform: translateX(-50%);
}
